* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* auto-fit only fits and auto-fill keeps creating */

.container {
  border: 6px solid rgb(255, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.container-1 {
  border: 6px solid rgb(255, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.cell {
  padding: 2rem;
  background-color: blanchedalmond;
  font-weight: bold;
  text-align: center;
  border: 3px solid green;
  color: #fff;
}

.cell-1 {
  background-color: sienna;
}
.cell-2 {
  background-color: rgb(110, 160, 45);
}
.cell-3 {
  background-color: rgb(8, 115, 255);
}
