* {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
}
.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
}
.profile-pic {
  width: 40%;
  border-radius: 50%;
}
button {
  background-color: #4caa6d;
  color: white;
  padding: 14px 20px;
  border: none;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.cancelbtn {
  background-color: #f44336;
  padding: 10px 18px;
  width: auto;
}
.container {
  padding: 18px;
}
.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 400px) {
  .psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
