* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 21px;
}
.heading {
  font-size: 39px;
  margin-right: 25px;
}
.fa {
  font-size: 25px;
}
.checked {
  color: rgb(255, 166, 0);
}

/*Three cloumn layout */

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
  font-size: 32px;
}
.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}
.right {
  text-align: right;
  width: 15%;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
}

.bar-5 {
  width: 60%;
  height: 18px;
  background-color: dodgerblue;
}
.bar-4 {
  width: 30%;
  height: 18px;
  background-color: rgb(108, 255, 23);
}
.bar-3 {
  width: 45%;
  height: 18px;
  background-color: rgb(248, 41, 255);
}
.bar-2 {
  width: 65%;
  height: 18px;
  background-color: rgb(251, 255, 0);
}
.bar-1 {
  width: 80%;
  height: 18px;
  background-color: rgb(255, 0, 170);
}

@media screen and (max-width: 501px) {
  .side,
  .middle {
    width: 100%;
    font-size: 25px;
  }
  .right {
    display: none;
  }
}
